In [3]:
%matplotlib inline

In [4]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
from sklearn.neighbors import NearestNeighbors
import numpy as np

In [6]:
df_train = pd.read_csv('../data/train_step1.csv')
df_test = pd.read_csv('../data/test_step1.csv')

In [7]:
print(df_train.shape, ", ", df_test.shape)

(97979, 16) ,  (20746, 15)

In [37]:
df_train[0:5]

,Unnamed: 0,id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,1,820tgsjxq7,2011-05-25,20090523174809,MALE,38,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
1,2,4ft3gnwmtx,2010-09-28,20090609231247,FEMALE,56,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
2,3,bjjt8pjhuk,2011-12-05,20091031060129,FEMALE,42,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
3,6,lsw9q7uk0j,2010-01-02,20100102012558,FEMALE,46,basic,0,en,other,craigslist,untracked,Web,Mac Desktop,Safari,US
4,7,0d01nltbrs,2010-01-03,20100103191905,FEMALE,47,basic,0,en,direct,direct,omg,Web,Mac Desktop,Safari,US

In [7]:
df_train.head(7).T

,0,1,2,3,4,5,6
Unnamed: 0,1,2,3,6,7,8,10
id,820tgsjxq7,4ft3gnwmtx,bjjt8pjhuk,lsw9q7uk0j,0d01nltbrs,a1vcnhxeij,yuuqmid2rp
date_account_created,2011-05-25,2010-09-28,2011-12-05,2010-01-02,2010-01-03,2010-01-04,2010-01-04
timestamp_first_active,20090523174809,20090609231247,20091031060129,20100102012558,20100103191905,20100104004211,20100104194251
gender,MALE,FEMALE,FEMALE,FEMALE,FEMALE,FEMALE,FEMALE
age,38,56,42,46,47,50,36
signup_method,facebook,basic,facebook,basic,basic,basic,basic
signup_flow,0,3,0,0,0,0,0
language,en,en,en,en,en,en,en
affiliate_channel,seo,direct,direct,other,direct,other,other
affiliate_provider,google,direct,direct,craigslist,direct,craigslist,craigslist
first_affiliate_tracked,untracked,untracked,untracked,untracked,omg,untracked,untracked
signup_app,Web,Web,Web,Web,Web,Web,Web
first_device_type,Mac Desktop,Windows Desktop,Mac Desktop,Mac Desktop,Mac Desktop,Mac Desktop,Mac Desktop
first_browser,Chrome,IE,Firefox,Safari,Safari,Safari,Firefox
country_destination,NDF,US,other,US,US,US,US

In [8]:
df_test.head(7).T

,0,1,2,3,4,5,6
Unnamed: 0,0,5,12,15,18,19,20
id,5uwns89zht,szx28ujmhf,iq4kkd5oan,eq6fy0m4vc,i0sc6d3j8s,br5mcrsqzn,rddbczuxx1
date_account_created,2014-07-01,2014-07-01,2014-07-01,2014-07-01,2014-07-01,2014-07-01,2014-07-01
timestamp_first_active,20140701000006,20140701000336,20140701002539,20140701003103,20140701003723,20140701004052,20140701004053
gender,FEMALE,FEMALE,MALE,FEMALE,FEMALE,MALE,FEMALE
age,35,28,24,56,33,31,53
signup_method,facebook,basic,facebook,basic,basic,facebook,basic
signup_flow,0,0,0,0,0,0,0
language,en,en,en,en,en,en,en
affiliate_channel,direct,sem-brand,direct,direct,direct,seo,sem-brand
affiliate_provider,direct,google,direct,direct,direct,google,google
first_affiliate_tracked,untracked,omg,linked,linked,omg,linked,linked
signup_app,Moweb,Web,Web,Web,Web,Web,Web
first_device_type,iPhone,Windows Desktop,Mac Desktop,Windows Desktop,Android Tablet,Windows Desktop,Mac Desktop
first_browser,Mobile Safari,Chrome,Safari,Chrome,IE,Chrome,Safari

season? 기후 정보...

In [10]:
cols = df_train.columns.values
cols = cols[np.where(cols != 'country_destination')]

X = df_train[cols]
y = df_train['country_destination']

앗.... category 정보를 수치로 바꾸는게 필요하군... ㅋ<br>
decision tree, Collaborate Filtering을 돌려야 할 것 같다.<br>
아니면, FP-Growth?

+ category value 2 number<br>

id는 feature로 사용하면 안 될것 같고...<br>
country_destination은 target value이니 category 혹은 index로 변경해야 함.<br>

아래 것들은 숫자로 변경하고...<br>
date_account_created, timestamp_first_active, age, Unnamed: 0<br>

In [23]:
df_train_2 = df_train.drop(['Unnamed: 0', 'date_account_created', 'timestamp_first_active', 'age', 'id', 'country_destination'], axis=1)
#df_train_2_ = df_train[['Unnamed: 0', 'date_account_created', 'timestamp_first_active', 'age', 'id', 'country_destination']]
df_train_2_ = df_train[['date_account_created', 'timestamp_first_active', 'age', 'country_destination']]

##  Date 2 number

In [64]:
df_train_2_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97979 entries, 0 to 97978
Data columns (total 4 columns):
date_account_created      97979 non-null object
timestamp_first_active    97979 non-null int64
age                       97979 non-null float64
country_destination       97979 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.7+ MB

In [72]:
df_train_2_.dtypes

date_account_created       object
timestamp_first_active      int64
age                       float64
country_destination        object
dtype: object

In [78]:
df_train_2_['date_account_created'][0:5]

0    2011-05-25
1    2010-09-28
2    2011-12-05
3    2010-01-02
4    2010-01-03
Name: date_account_created, dtype: object

In [77]:
pd.to_datetime(df_train_2_['date_account_created'][0])

str

In [88]:
for i, d in enumerate(range(10)):
    print(i, ", ", d)

0 ,  0
1 ,  1
2 ,  2
3 ,  3
4 ,  4
5 ,  5
6 ,  6
7 ,  7
8 ,  8
9 ,  9

In [90]:
tmp = df_train_2_['date_account_created'][0:5]
# [ s for s in d.split("-") for d in tmp ]
[ (d.split("-"), i)  for i, d in enumerate(tmp) ]

[(['2011', '05', '25'], 0),
 (['2010', '09', '28'], 1),
 (['2011', '12', '05'], 2),
 (['2010', '01', '02'], 3),
 (['2010', '01', '03'], 4)]

In [92]:
# http://docs.scipy.org/doc/numpy-dev/reference/arrays.datetime.html
pd.to_datetime(tmp)

0   2011-05-25
1   2010-09-28
2   2011-12-05
3   2010-01-02
4   2010-01-03
Name: date_account_created, dtype: datetime64[ns]

In [100]:
pd.to_datetime(tmp).astype(np.int)

0    1306281600000000000
1    1285632000000000000
2    1323043200000000000
3    1262390400000000000
4    1262476800000000000
Name: date_account_created, dtype: int64

In [112]:
# nano sec
(1306281600000000000 - 1285632000000000000) / 3600 / 1000 / 1000 / 1000 / 24

239.0

In [113]:
tmp = df_train_2_['timestamp_first_active'][0:5]

In [114]:
pd.to_datetime(tmp).astype(np.int)

0    20090523174809
1    20090609231247
2    20091031060129
3    20100102012558
4    20100103191905
Name: timestamp_first_active, dtype: int64

In [116]:
pd.to_datetime('20090523174809', format='%Y%m%d%H%M%S')

Timestamp('2009-05-23 17:48:09')

In [120]:
pd.to_datetime(tmp, format='%Y%m%d%H%M%S').astype(np.int) / 1000 / 1000 / 1000

0    1243100889
1    1244589167
2    1256968889
3    1262395558
4    1262546345
Name: timestamp_first_active, dtype: float64

In [24]:
tmp = df_train_2_['date_account_created']
tmp_train_data_dac = pd.to_datetime(tmp).astype(np.int) / 1000 / 1000/ 1000
df_train_2_['date_account_created'] = tmp_train_data_dac

tmp = df_train_2_['timestamp_first_active']
tmp_train_data_tfa = pd.to_datetime(tmp, format='%Y%m%d%H%M%S').astype(np.int) / 1000 / 1000 / 1000
df_train_2_['timestamp_first_active'] = tmp_train_data_tfa

/home/mrthink/.pyenv/versions/anaconda3-2.3.0/lib/python3.4/site-packages/IPython/kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/mrthink/.pyenv/versions/anaconda3-2.3.0/lib/python3.4/site-packages/IPython/kernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
df_train_2_

       date_account_created  timestamp_first_active  age country_destination
0                1306281600              1243100889   38                 NDF
1                1285632000              1244589167   56                  US
2                1323043200              1256968889   42               other
3                1262390400              1262395558   46                  US
4                1262476800              1262546345   47                  US
5                1262563200              1262565731   50                  US
6                1262563200              1262634171   36                  US
7                1262649600              1262680379   37                 NDF
8                1262822400              1262843900   36                 NDF
9                1262822400              1262897155   33                  CA
10               1263081600              1263085697   29                  FR
11               1263081600              1263161381   30                  US
12               1263168000              1263251288   40                 NDF
13               1263254400              1263302084   26                  FR
14               1263254400              1263329989   32                  US
15               1263513600              1263534653   59                 NDF
16               1263513600              1263593969   31                  US
17               1263513600              1263597411   30                 NDF
18               1263600000              1263656982   35                 NDF
19               1263600000              1263679183   26                 NDF
20               1263859200              1263864976   30                  US
21               1264204800              1264277740   44                  US
22               1264464000              1264465365   28                 NDF
23               1264550400              1264562180   53                 NDF
24               1264550400              1264634416   52                  US
25               1264723200              1264757948   39                 NDF
26               1264809600              1264827469   35                  CA
27               1264809600              1264868168   40                 NDF
28               1265068800              1265100602   31                 NDF
29               1265068800              1265149877   57                  FR
...                     ...                     ...  ...                 ...
97949            1404086400              1404164210   33                  US
97950            1404086400              1404164289   35                 NDF
97951            1404086400              1404164634   22                 NDF
97952            1404086400              1404164864   38                 NDF
97953            1404086400              1404165194   25                 NDF
97954            1404086400              1404165317   27                  US
97955            1404086400              1404165587   41                  GB
97956            1404086400              1404165697   29                 NDF
97957            1404086400              1404165723   65                 NDF
97958            1404086400              1404165806   38                  US
97959            1404086400              1404166275   22                  US
97960            1404086400              1404166522   39                  US
97961            1404086400              1404166920   30                  IT
97962            1404086400              1404166973   30                  AU
97963            1404086400              1404167410   26                 NDF
97964            1404086400              1404168068   32                  US
97965            1404086400              1404168110   27                 NDF
97966            1404086400              1404168395   21                  ES
97967            1404086400              1404168482   28                  US
97968            1404086400              1404168717   50                  US
97969            1404086400              1404169774   46                 NDF
97970            1404086400              1404170339   32                 NDF
97971            1404086400              1404170479   30                 NDF
97972            1404086400              1404171144   31                 NDF
97973            1404086400              1404172049   43                  US
97974            1404086400              1404172173   24                 NDF
97975            1404086400              1404172311   34                  ES
97976            1404086400              1404172420   36                  US
97977            1404086400              1404172547   23                  US
97978            1404086400              1404172596   32                 NDF

[97979 rows x 4 columns]

In [126]:
df_train_2_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97979 entries, 0 to 97978
Data columns (total 4 columns):
date_account_created      97979 non-null float64
timestamp_first_active    97979 non-null float64
age                       97979 non-null float64
country_destination       97979 non-null object
dtypes: float64(3), object(1)
memory usage: 3.7+ MB

각 값들의 범위가 많아 다르니 normalize를 수행해야 할 것 같음.

## Normalize

$$ X' = \frac{X - min(X)}{max(X) - min(X)} $$

In [26]:
df_min = df_train_2_.min(axis=0)

In [27]:
df_max = df_train_2_.max(axis=0)

## Categorical data 2 number (Dummy variable)

In [12]:
# http://rkzdatamining.com/2015/09/10/dataanalysis_pandas_python/
def CategConvert():
    # read the data using pandas module
    data = pd.read_csv('example.csv')
    # drop the numeric columns
    data2 = data.drop(['numeric'], axis = 1 )
    # convert the categorical values of the column to independent binary features
    data2_dumm = pd.concat([pd.get_dummies(data2[col]) for col in data2], axis=1)
    '''concatenate the binary features with the numeric features by 
    removing the original cateorical column '''
    cols_to_use = data.columns - data2.columns
    dfNew = pd.merge(data[cols_to_use], data2_dumm, left_index=True, right_index=True, how='outer')
    dfNew.to_csv('convertedata.csv')

위의 코드를 참고하면 index는 살려놓고 변환이 필요한 것만 띄어서 작업을 한후에 index를 기반으로 다시 합침것임.

In [127]:
# category value to number (dummy variable)
tmp_ret = df_train_2_
for d in df_train_2[0:1]:
    tmp = pd.get_dummies(df_train_2[d])
    cols = [ (d.encode('utf-8') + '_'.encode('utf-8') + str(s).encode('utf-8')).decode('utf-8') for s in tmp.columns.values]
    tmp.columns = cols
    
    tmp_ret = tmp_ret.join(tmp)
    
print(tmp_ret.shape)
tmp_ret[0:5]

(97979, 137)

,date_account_created,timestamp_first_active,age,country_destination,gender_FEMALE,gender_MALE,gender_OTHER,signup_method_basic,signup_method_facebook,signup_method_google,...,first_browser_SeaMonkey,first_browser_Silk,first_browser_SiteKiosk,first_browser_SlimBrowser,first_browser_Sogou Explorer,first_browser_Stainless,first_browser_TenFourFox,first_browser_TheWorld Browser,first_browser_Yandex.Browser,first_browser_wOSBrowser
0,1306281600,1243100889,38,NDF,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1285632000,1244589167,56,US,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1323043200,1256968889,42,other,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1262390400,1262395558,46,US,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1262476800,1262546345,47,US,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
tmp_ret.dtypes

date_account_created              float64
timestamp_first_active            float64
age                               float64
country_destination                object
gender_FEMALE                     float64
gender_MALE                       float64
gender_OTHER                      float64
signup_method_basic               float64
signup_method_facebook            float64
signup_method_google              float64
signup_flow_0                     float64
signup_flow_1                     float64
signup_flow_2                     float64
signup_flow_3                     float64
signup_flow_4                     float64
signup_flow_5                     float64
signup_flow_6                     float64
signup_flow_8                     float64
signup_flow_10                    float64
signup_flow_12                    float64
signup_flow_15                    float64
signup_flow_16                    float64
signup_flow_20                    float64
signup_flow_21                    float64
signup_flow_23                    float64
signup_flow_24                    float64
signup_flow_25                    float64
language_ca                       float64
language_cs                       float64
language_da                       float64
                                   ...
first_browser_Comodo Dragon       float64
first_browser_CoolNovo            float64
first_browser_Firefox             float64
first_browser_IE                  float64
first_browser_IE Mobile           float64
first_browser_IceWeasel           float64
first_browser_Iron                float64
first_browser_Kindle Browser      float64
first_browser_Maxthon             float64
first_browser_Mobile Firefox      float64
first_browser_Mobile Safari       float64
first_browser_Mozilla             float64
first_browser_NetNewsWire         float64
first_browser_Opera               float64
first_browser_Opera Mini          float64
first_browser_Opera Mobile        float64
first_browser_PS Vita browser     float64
first_browser_Pale Moon           float64
first_browser_RockMelt            float64
first_browser_Safari              float64
first_browser_SeaMonkey           float64
first_browser_Silk                float64
first_browser_SiteKiosk           float64
first_browser_SlimBrowser         float64
first_browser_Sogou Explorer      float64
first_browser_Stainless           float64
first_browser_TenFourFox          float64
first_browser_TheWorld Browser    float64
first_browser_Yandex.Browser      float64
first_browser_wOSBrowser          float64
dtype: object

## Make function...

In [29]:
def preProcessing(df, df_min=0, df_max=0):
    isTrain = 'country_destination' in df
    
    if isTrain:
        df_2 = df.drop(['Unnamed: 0', 'date_account_created', 'timestamp_first_active', 'age', 'id', 'country_destination'], axis=1)
    else:
        df_2 = df.drop(['Unnamed: 0', 'date_account_created', 'timestamp_first_active', 'age', 'id'], axis=1)
        
    df_2_ = df[['date_account_created', 'timestamp_first_active', 'age']]
    
    # date to number (sec)
    tmp = df_2_['date_account_created']
    tmp_dac = pd.to_datetime(tmp).astype(np.int) / 1000 / 1000 / 1000
    df_2_['date_account_created'] = tmp_dac

    tmp = df_2_['timestamp_first_active']
    tmp_tfa = pd.to_datetime(tmp, format='%Y%m%d%H%M%S').astype(np.int) / 1000 / 1000 / 1000
    df_2_['timestamp_first_active'] = tmp_tfa

    if isTrain:
        df_min = df_2_.min(axis=0)
        df_max = df_2_.max(axis=0)
    
    # normalize
    df_2_ = (df_2_ - df_min)/(df_max - df_min)
    
    # category value to number (dummy variable)
    tmp_ret = df_2_
    for d in df_2[0:1]:
        tmp = pd.get_dummies(df_2[d])
        cols = [ (d.encode('utf-8') + '_'.encode('utf-8') + str(s).encode('utf-8')).decode('utf-8') for s in tmp.columns.values]
        tmp.columns = cols

        tmp_ret = tmp_ret.join(tmp)
    
    if isTrain:
        y = df['country_destination']
        return tmp_ret, y, df_min, df_max
    else:
        return tmp_ret

In [47]:
tmp_train, target, df_min, df_max = preProcessing(df_train)

/home/mrthink/.pyenv/versions/anaconda3-2.3.0/lib/python3.4/site-packages/IPython/kernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/mrthink/.pyenv/versions/anaconda3-2.3.0/lib/python3.4/site-packages/IPython/kernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
tmp_test = preProcessing(df_test, df_min, df_max)

/home/mrthink/.pyenv/versions/anaconda3-2.3.0/lib/python3.4/site-packages/IPython/kernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/mrthink/.pyenv/versions/anaconda3-2.3.0/lib/python3.4/site-packages/IPython/kernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [35]:
tmp_train.min()

date_account_created              0
timestamp_first_active            0
age                               0
gender_FEMALE                     0
gender_MALE                       0
gender_OTHER                      0
signup_method_basic               0
signup_method_facebook            0
signup_method_google              0
signup_flow_0                     0
signup_flow_1                     0
signup_flow_2                     0
signup_flow_3                     0
signup_flow_4                     0
signup_flow_5                     0
signup_flow_6                     0
signup_flow_8                     0
signup_flow_10                    0
signup_flow_12                    0
signup_flow_15                    0
signup_flow_16                    0
signup_flow_20                    0
signup_flow_21                    0
signup_flow_23                    0
signup_flow_24                    0
signup_flow_25                    0
language_ca                       0
language_cs                       0
language_da                       0
language_de                       0
                                 ..
first_browser_Comodo Dragon       0
first_browser_CoolNovo            0
first_browser_Firefox             0
first_browser_IE                  0
first_browser_IE Mobile           0
first_browser_IceWeasel           0
first_browser_Iron                0
first_browser_Kindle Browser      0
first_browser_Maxthon             0
first_browser_Mobile Firefox      0
first_browser_Mobile Safari       0
first_browser_Mozilla             0
first_browser_NetNewsWire         0
first_browser_Opera               0
first_browser_Opera Mini          0
first_browser_Opera Mobile        0
first_browser_PS Vita browser     0
first_browser_Pale Moon           0
first_browser_RockMelt            0
first_browser_Safari              0
first_browser_SeaMonkey           0
first_browser_Silk                0
first_browser_SiteKiosk           0
first_browser_SlimBrowser         0
first_browser_Sogou Explorer      0
first_browser_Stainless           0
first_browser_TenFourFox          0
first_browser_TheWorld Browser    0
first_browser_Yandex.Browser      0
first_browser_wOSBrowser          0
dtype: float64

In [36]:
tmp_train.max()

date_account_created              1
timestamp_first_active            1
age                               1
gender_FEMALE                     1
gender_MALE                       1
gender_OTHER                      1
signup_method_basic               1
signup_method_facebook            1
signup_method_google              1
signup_flow_0                     1
signup_flow_1                     1
signup_flow_2                     1
signup_flow_3                     1
signup_flow_4                     1
signup_flow_5                     1
signup_flow_6                     1
signup_flow_8                     1
signup_flow_10                    1
signup_flow_12                    1
signup_flow_15                    1
signup_flow_16                    1
signup_flow_20                    1
signup_flow_21                    1
signup_flow_23                    1
signup_flow_24                    1
signup_flow_25                    1
language_ca                       1
language_cs                       1
language_da                       1
language_de                       1
                                 ..
first_browser_Comodo Dragon       1
first_browser_CoolNovo            1
first_browser_Firefox             1
first_browser_IE                  1
first_browser_IE Mobile           1
first_browser_IceWeasel           1
first_browser_Iron                1
first_browser_Kindle Browser      1
first_browser_Maxthon             1
first_browser_Mobile Firefox      1
first_browser_Mobile Safari       1
first_browser_Mozilla             1
first_browser_NetNewsWire         1
first_browser_Opera               1
first_browser_Opera Mini          1
first_browser_Opera Mobile        1
first_browser_PS Vita browser     1
first_browser_Pale Moon           1
first_browser_RockMelt            1
first_browser_Safari              1
first_browser_SeaMonkey           1
first_browser_Silk                1
first_browser_SiteKiosk           1
first_browser_SlimBrowser         1
first_browser_Sogou Explorer      1
first_browser_Stainless           1
first_browser_TenFourFox          1
first_browser_TheWorld Browser    1
first_browser_Yandex.Browser      1
first_browser_wOSBrowser          1
dtype: float64

## Save pre-processed data ...

In [41]:
print(tmp_train.shape, ", ", target.shape)

(97979, 136) ,  (97979,)

In [51]:
target2 = pd.DataFrame(target)
target2

      country_destination
0                     NDF
1                      US
2                   other
3                      US
4                      US
5                      US
6                      US
7                     NDF
8                     NDF
9                      CA
10                     FR
11                     US
12                    NDF
13                     FR
14                     US
15                    NDF
16                     US
17                    NDF
18                    NDF
19                    NDF
20                     US
21                     US
22                    NDF
23                    NDF
24                     US
25                    NDF
26                     CA
27                    NDF
28                    NDF
29                     FR
...                   ...
97949                  US
97950                 NDF
97951                 NDF
97952                 NDF
97953                 NDF
97954                  US
97955                  GB
97956                 NDF
97957                 NDF
97958                  US
97959                  US
97960                  US
97961                  IT
97962                  AU
97963                 NDF
97964                  US
97965                 NDF
97966                  ES
97967                  US
97968                  US
97969                 NDF
97970                 NDF
97971                 NDF
97972                 NDF
97973                  US
97974                 NDF
97975                  ES
97976                  US
97977                  US
97978                 NDF

[97979 rows x 1 columns]

In [37]:
tmp_train.to_csv('../data/train_step1_dummied.csv')

In [52]:
target2.to_csv('../data/train_step1_target.csv')

In [40]:
tmp_test.to_csv('../data/test_step1_dummied.csv')

In [133]:
!ls ../data/ -al

total 783360
drwxrwxr-x 2 mrthink mrthink      4096  3월 22 16:12 .
drwxrwxr-x 5 mrthink mrthink      4096  3월 20 02:02 ..
-rw-r--r-- 1 mrthink mrthink     11905 10월 17 01:13 age_gender_bkts.csv
-rw-rw-r-- 1 mrthink mrthink      2524  3월 14 00:31 age_gender_bkts.csv.zip
-rw-r--r-- 1 mrthink mrthink       632 10월 17 01:13 countries.csv
-rw-rw-r-- 1 mrthink mrthink       546  3월 14 00:31 countries.csv.zip
-rw-r--r-- 1 mrthink mrthink    931451 12월  6 20:42 sample_submission_NDF.csv
-rw-rw-r-- 1 mrthink mrthink    489750  3월 14 00:31 sample_submission_NDF.csv.zip
-rw-r--r-- 1 mrthink mrthink 631646292 12월  6 14:59 sessions.csv
-rw-rw-r-- 1 mrthink mrthink  62012548  3월 14 00:33 sessions.csv.zip
-rw-rw-r-- 1 mrthink mrthink   2352813  3월 20 02:49 test_step1.csv
-rw-r--r-- 1 mrthink mrthink   6763170 12월  6 14:59 test_users.csv
-rw-rw-r-- 1 mrthink mrthink   1101697  3월 14 00:31 test_users.csv.zip
-rw-rw-r-- 1 mrthink mrthink  11579727  3월 20 02:49 train_step1.csv
-rw-rw-r-- 1 mrthink mrthink  56100937  3월 22 16:12 train_step1_dummied.csv
-rw-r--r-- 1 mrthink mrthink  24853881 12월 10 18:06 train_users_2.csv
-rw-rw-r-- 1 mrthink mrthink   4264170  3월 14 00:31 train_users_2.csv.zip